<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="preload" as="image" href="/favicon.jpg">
		<link rel="icon" type="image/jpg" href="/favicon.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="this is my portfolio" />
		<title>felfel</title>
	</head>
	<body style="font-family: system-ui, sans-serif">
		<h1>felfel Abdulla</h1>
		<!-- <a href="https://www.linkedin.com/in/abdo-spices/"
			><h2>software engineer</h2></a
		> -->
	</body>
</html>
